Read more on list and select 2 list methods not mentioned in class to give examples of using them.

In [1]:
#list.clear
a = [1,2,3]
print(a)
a.clear()
print(a)

[1, 2, 3]
[]

In [3]:
#list.count(x)
a = [1,1,2,2,2,3,3]
print(a.count(1))
print(a.count(2))
print(a.count(3))

2
3
2

How can you check if a key is already in a dictionary? Give an example.

In [8]:
dict1 = {1:'a', 2:'b', 3:'c'}
1 in dict1.keys()

True

Explore how Counter works as another type of collection. Give 2 examples to use Counter.

In [13]:
from collections import Counter

In [14]:
c = Counter()                           # a new, empty counter
print(c)
c = Counter('gallahad')                 # a new counter from an iterable
print(c)
c = Counter({'red': 4, 'blue': 2})      # a new counter from a mapping
print(c)
c = Counter(cats=4, dogs=8)             # a new counter from keyword args
print(c)

Counter()
Counter({'a': 3, 'l': 2, 'g': 1, 'h': 1, 'd': 1})
Counter({'red': 4, 'blue': 2})
Counter({'dogs': 8, 'cats': 4})

In [15]:
c = Counter(['eggs', 'ham'])
c['bacon']                              # count of a missing element is zero

0

In [16]:
c = Counter(a=4, b=2, c=0, d=-2) #reverse engineer the counter to a list with those elements.
sorted(c.elements())

['a', 'a', 'a', 'a', 'b', 'b']

In [17]:
Counter('abracadabra').most_common(3) # get the elements with highest frequency
[('a', 5), ('b', 2), ('r', 2)]

[('a', 5), ('b', 2), ('r', 2)]

Create Fibonacci Sequence

In [24]:
times = 50
i = 2
fibolist=[0,1]
while i < times:
    fibolist.append(fibolist[-1]+fibolist[-2])
    i += 1
    
print(fibolist)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]

Calculate the sum of fibolist

In [25]:
sum(fibolist)

20365011073

Calculate and append the next fibonacci number to fibolist.

In [26]:
fibolist.append(fibolist[-1]+fibolist[-2])
fibolist

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025]

Create a reversed copy of fibolist without permanently reversing fibolist liteslf.

In [33]:
reverse_fibo = fibolist.copy()
reverse_fibo.reverse()

In [34]:
print(reverse_fibo)

[12586269025, 7778742049, 4807526976, 2971215073, 1836311903, 1134903170, 701408733, 433494437, 267914296, 165580141, 102334155, 63245986, 39088169, 24157817, 14930352, 9227465, 5702887, 3524578, 2178309, 1346269, 832040, 514229, 317811, 196418, 121393, 75025, 46368, 28657, 17711, 10946, 6765, 4181, 2584, 1597, 987, 610, 377, 233, 144, 89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

In [31]:
fibolist

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025]

Check if 29473 is a fibonacci number, and assign the anser to variable fibo_29473

In [36]:
fibo_29473 = 29473 in fibolist
fibo_29473

False

Create two sets. Calculate the union, intersection, difference and symmetric difference for the two sets.

In [39]:
a = set('asdfasdfiuasdifjh')
b  = set('asdfnerijgnaledjnf')
print(a - b)                              # letters in a but not in b
print(a | b)                              # letters in a or b or both
print(a & b)                              # letters in both a and b
print(a ^ b)                              # letters in a or b

{'u', 'h'}
{'n', 'i', 'a', 'e', 'r', 'u', 's', 'l', 'h', 'j', 'd', 'g', 'f'}
{'i', 'a', 'j', 'd', 'f', 's'}
{'n', 'l', 'h', 'e', 'r', 'g', 'u'}

Creat a dictionary using at least two different methods.

In [40]:
one_dict = dict(data='science', science=0)
two_dict = {'data':'science', 'science':0, (0,1):one_dict}
three_dict = {}
three_dict['data'] = 'science'
three_dict['science'] = 0
three_dict[0] = one_dict

Check if 2 and 9999 are fibonacci numbers. Create a dictionary fibo_dict with the numbers as keys, and value=True if the number is fibonacci number, and False otherwise.

In [41]:
dict_if_fibo = {}
check_list = [2,9999]
for i in check_list:
    dict_if_fibo[i]= i in fibolist

In [42]:
dict_if_fibo

{2: True, 9999: False}