In [22]:
import pandas as pd
pd.set_option('display.max_columns', 100)

college = pd.read_csv('pandas_intro/data/college.csv')
college_idx = college.set_index('instnm')

In [24]:
college.head(2)

,instnm,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,ugds_white,ugds_black,ugds_hisp,ugds_asian,ugds_aian,ugds_nhpi,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5

In [25]:
college_idx.head(2)

,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,ugds_white,ugds_black,ugds_hisp,ugds_asian,ugds_aian,ugds_nhpi,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5

### Exercise 1
What is the median SAT Math score (satmtmid) for **The University of Texas at Dallas**?

In [23]:
college_idx.loc['The University of Texas at Dallas']['satmtmid']

645.0

### Exercise 2
What state (stabbr) has the 5th highest total undergraduate population (ugds) and what is that population?

In [48]:
college[['stabbr', 'ugds']].groupby('stabbr').max().sort_values(by = 'ugds', ascending = False).iloc[4]

ugds    49340.0
Name: VA, dtype: float64

### Exercise 3: Which columns in college dataset contain missing value? What are their missing rate(%)?

In [26]:
na_cols = college.columns[college.isna().any()].tolist()
na_cols

['hbcu',
 'menonly',
 'womenonly',
 'satvrmid',
 'satmtmid',
 'distanceonly',
 'ugds',
 'ugds_white',
 'ugds_black',
 'ugds_hisp',
 'ugds_asian',
 'ugds_aian',
 'ugds_nhpi',
 'ugds_2mor',
 'ugds_nra',
 'ugds_unkn',
 'pptug_ef',
 'pctpell',
 'pctfloan',
 'ug25abv',
 'md_earn_wne_p10',
 'grad_debt_mdn_supp']

In [27]:
miss_rate = [college[na_cols[i]].isna().mean() for i in range(len(na_cols))]
miss_rate

[0.04923689449236895,
 0.04923689449236895,
 0.04923689449236895,
 0.8427339084273391,
 0.8412740544127405,
 0.04923689449236895,
 0.08772395487723955,
 0.08772395487723955,
 0.08772395487723955,
 0.08772395487723955,
 0.08772395487723955,
 0.08772395487723955,
 0.08772395487723955,
 0.08772395487723955,
 0.08772395487723955,
 0.08772395487723955,
 0.0905109489051095,
 0.09104180491041805,
 0.09104180491041805,
 0.10842733908427339,
 0.14890510948905109,
 0.00424684804246848]

### Exercise 4: Is there statistical significant difference between average md_earn_wne_p10 (Median Earnings 10 years after enrollment) for schools in Texas and California?

In [181]:
# you might find the following function useful to converts data to numeric
# pd.to_numeric()

# example code for p-value calculation if you'd like to calculate z-scores
import scipy.stats as st
# st.norm.cdf(-1.506666)

# you may also find the following function useful
# st.ttest_ind()

In [247]:
# Extract only colleges from TX/CA and their corresponding md_earn_wne_p10s and drop NaN values
tx_subtbl = college_idx.loc[college_idx['stabbr'] == 'TX', ['md_earn_wne_p10']].dropna()
ca_subtbl = college_idx.loc[college_idx['stabbr'] == 'CA', ['md_earn_wne_p10']].dropna()

In [249]:
# Convert values in column 'md_earn_wne_p10' into numeric and drop NaN values
tx10 = pd.to_numeric(tx_subtbl['md_earn_wne_p10'], errors = 'coerce').dropna()
ca10 = pd.to_numeric(ca_subtbl['md_earn_wne_p10'], errors = 'coerce').dropna()

In [251]:
t, p = st.ttest_ind(tx10, ca10, equal_var = False)
print('t = {0: .20f}; p = {1: .20f}'.format(t,p))
print('z-score = {}'.format(st.norm.cdf(t)))

t = -2.49758742789479759594; p =  0.01271603894674366332
z-score = 0.006252081359603864