## Excercise 2

Define a fraction number with numerator=123 and denominator=456, print out the fraction number in format a/b and the quotient with 8 digits after decimal point.
Sample output: "123/456 = 0.269737"

In [1]:
numerator = 123
denominator = 456

# code up your solution below
result = numerator/denominator
print("output: {:.8f}".format(result))

output: 0.26973684

Print out every other character of the string "Data Science" using string slicing.

In [2]:
ds = "Data Science"
print(ds[::2])

Dt cec

The string regex_wiki contains the second paragraph of regular expression introduction in Wikipedia. Modify the string with all lower case and no space.

In [3]:
regex_wiki = """The concept arose in the 1950s when the American mathematician Stephen Cole Kleene formalized 
the description of a regular language. The concept came into common use with Unix text-processing utilities. 
Different syntaxes for writing regular expressions have existed since the 1980s, one being the POSIX standard 
and another, widely used, being the Perl syntax."""

# code up your solution below and print to check answer
regex_wiki.lower().replace(" ","")

'theconceptaroseinthe1950swhentheamericanmathematicianstephencolekleeneformalized\nthedescriptionofaregularlanguage.theconceptcameintocommonusewithunixtext-processingutilities.\ndifferentsyntaxesforwritingregularexpressionshaveexistedsincethe1980s,onebeingtheposixstandard\nandanother,widelyused,beingtheperlsyntax.'

Replace all data with <3 in the following string. Use a string method to check data is not in the new string.

In [4]:
data_science = """Data science continues to evolve as one of the most promising and in-demand career paths for 
skilled professionals. Today, successful data professionals understand that they must advance past the traditional 
skills of analyzing large amounts of data, data mining, and programming skills. In order to uncover useful 
intelligence for their organizations, data scientists must master the full spectrum of the data science life cycle 
and possess a level of flexibility and understanding to maximize returns at each phase of the process."""

# code up your solution below
data_science_new = data_science.replace("data","<3")
print(data_science_new)
print('\n')
print('data' in data_science_new)

Data science continues to evolve as one of the most promising and in-demand career paths for
skilled professionals. Today, successful <3 professionals understand that they must advance past the traditional
skills of analyzing large amounts of <3, <3 mining, and programming skills. In order to uncover useful
intelligence for their organizations, <3 scientists must master the full spectrum of the <3 science life cycle
and possess a level of flexibility and understanding to maximize returns at each phase of the process.


False

(Bonus Challenge): if you are familiar with string manipulation and regex, use python's regular expression re module to replace the first a in all data in the paragraph above, and keep the original case for the word.
Data ---> D<3ta, data ---> d<3ta, DATA --- D<3TA, etc.

In [5]:
import re

In [18]:
re.sub(r'(?<=(?i)d)(a)(?=(?i)t(?i)a)', '<3', data_science, count=6)

'D<3ta science continues to evolve as one of the most promising and in-demand career paths for \nskilled professionals. Today, successful d<3ta professionals understand that they must advance past the traditional \nskills of analyzing large amounts of d<3ta, d<3ta mining, and programming skills. In order to uncover useful \nintelligence for their organizations, d<3ta scientists must master the full spectrum of the d<3ta science life cycle \nand possess a level of flexibility and understanding to maximize returns at each phase of the process.'

## Excercise 3

Write a program flow which will assign grade by the test scores using the following conditions:

If score >= 90, grade="A"
If 80 >= score >90, grade="B"
If 70 >= score >80, grade="C"
If 60 >= score >70, grade="D"
IF score < 60, grade="F"

In [20]:
score=71

if score>=90:
    grade = "A"
elif score>=80 and score<90:
    grade="B"
elif score>=70 and score<80:
    grade="C"
elif score>=60 and score<70:
    grade="C"
else:
    grade="F"

print(grade)

C

x=1, y=1, write a flow to assign messge to different value base on different criteria as below, and in the end print out the message:

a. If x less than y, messge="x is less than y"

b. If x larger than y, messge="x is greater than y"

c. If x equal to y, messge="x is the same as y"

In [21]:
x=1
y=1
if x<y:
    print("x is less than y" )
elif x>y:
    print("x is greater than y")
else:
    print("x is the same as y")

x is the same as y

## Excercise 4

Read more on list and select 2 list methods not mentioned in class to give examples of using them.

In [3]:
list_sample=[1,2,3,4,5,6,7,7,9,4,5,2,4,33,74,"89"]
list_sample.clear()
print(list_sample)

[]

In [4]:
list_sample=[1,2,3,4,5,6,7,7,9,4,5,2,4,33,74,"89"]
list_sample.count(4)

3

How can you check if a key is already in a dictionary? Give an example.

In [6]:
ds_dict = {'data':'science', 'science':0}
print(ds_dict)

{'data': 'science', 'science': 0}

In [7]:
'data' in ds_dict.keys()

True

In [8]:
'one' in ds_dict.keys()

False

Explore how Counter works as another type of collection. Give 2 examples to use Counter.

In [27]:
from collections import Counter
c = Counter(a=4, b=2, c=0, d=-2)
print(sorted(c.elements()))

['a', 'a', 'a', 'a', 'b', 'b']

In [28]:
c.most_common(3)

[('a', 4), ('b', 2), ('c', 0)]

The Fibonacci Sequence is the series of numbers: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...
The next number is found by adding up the two numbers before it. Find the last element of the fibolist

In [9]:
fibolist=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]

# code your solution here

fibolist[-1]

317811

Calculate the sum of fibolist

In [11]:
sum(fibolist)

832039

Calculate and append the next fibonacci number to fibolist.

In [13]:
fibolist.append(fibolist[-2]+fibolist[-1])
print(fibolist)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040]

Create a reversed copy of fibolist without permanently reversing fibolist liteslf.

In [14]:
fibo_copy = fibolist.copy()
fibo_copy.reverse()
print(fibo_copy)

[832040, 514229, 317811, 196418, 121393, 75025, 46368, 28657, 17711, 10946, 6765, 4181, 2584, 1597, 987, 610, 377, 233, 144, 89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

Check if 29473 is a fibonacci number, and assign the anwser to variable fibo_29473

In [15]:
fibo_29473 = 29473 in fibolist
print(fibo_29473)

False

Create two sets. Calculate the union, intersection, difference and symmetric difference for the two sets.

In [16]:
set1 = set("mewoshcinopinfelaknsknf")
set2 = set("nouruboibvpaisboeibubf")
print(set1 - set2)                              # letters in 1 but not in 2
print(set1 | set2)                              # letters in either or both
print(set1 & set2)                              # letters in both 
print(set1 ^ set2)                              # letters in either but not both

{'m', 'h', 'c', 'w', 'k', 'l'}
{'b', 'm', 'h', 'e', 's', 'u', 'c', 'v', 'o', 'w', 'n', 'k', 'l', 'i', 'r', 'a', 'f', 'p'}
{'i', 'a', 'f', 'p', 'e', 's', 'o', 'n'}
{'b', 'r', 'm', 'h', 'u', 'c', 'v', 'w', 'k', 'l'}

Creat a dictionary using at least two different methods.

In [17]:
# method 1
dict1 = dict(data='science', science=0)
dict2 = {'data':'science', 'science':0}
print(dict1)
print(dict2)

{'data': 'science', 'science': 0}
{'data': 'science', 'science': 0}

Check if 2 and 9999 are fibonacci numbers. Create a dictionary fibo_dict with the numbers as keys, and boolean value=True if the number is fibonacci number, and False otherwise.

In [23]:
fibo_dict={}
num=[2,9999]
for n in num:
    fibo_dict[n] = n in fibolist
print(fibo_dict)

{2: True, 9999: False}